.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" "main main main";
  row-gap: 1em;
  align-content: center;
  height: 100vh;
  background: #f0f0f0;
}

.grid-wrapper > div {
  justify-self: center;
}

header {
  grid-area: header;
  justify-self: center;
  text-decoration-skip-ink: all;
}

.polygon {
  width: var(--width);
  height: var(--height);
  clip-path: polygon(
    var(--x-1) var(--y-1),
    var(--x-2) var(--y-2),
    var(--x-3) var(--y-3),
    var(--x-4) var(--y-4),
    var(--x-5) var(--y-5),
    var(--x-6) var(--y-6)
  );
  background-color: rgb(172, 232, 68);
  border: solid 30px red;
}

/* .polygon:hover {
        animation-play-state: paused;
      } */

.polygon {
  --side-count: 3;
  --x-1: calc(
    calc(
        sin(
            calc(max(var(--side-count) - (var(--max-sides) - 1), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --y-1: calc(
    calc(
        cos(
            calc(max(var(--side-count) - (var(--max-sides) - 1), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --x-2: calc(
    calc(
        sin(
            calc(max(var(--side-count) - (var(--max-sides) - 2), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --y-2: calc(
    calc(
        cos(
            calc(max(var(--side-count) - (var(--max-sides) - 2), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --x-3: calc(
    calc(
        sin(
            calc(max(var(--side-count) - (var(--max-sides) - 3), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --y-3: calc(
    calc(
        cos(
            calc(max(var(--side-count) - (var(--max-sides) - 3), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --x-4: calc(
    calc(
        sin(
            calc(max(var(--side-count) - (var(--max-sides) - 4), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --y-4: calc(
    calc(
        cos(
            calc(max(var(--side-count) - (var(--max-sides) - 4), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --x-5: calc(
    calc(
        sin(
            calc(max(var(--side-count) - (var(--max-sides) - 5), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --y-5: calc(
    calc(
        cos(
            calc(max(var(--side-count) - (var(--max-sides) - 5), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --x-6: calc(
    calc(
        sin(
            calc(max(var(--side-count) - (var(--max-sides) - 6), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  --y-6: calc(
    calc(
        cos(
            calc(max(var(--side-count) - (var(--max-sides) - 6), 0)) * 2 * pi /
              var(--side-count)
          ) * var(--width) / 2
      ) + var(--width) / 2
  );
  animation: 10s fadeIn infinite;
}
